@model Prestamos.Lite.Models.Usuario

@{
    /**/


    var r = Convert.ToString(Session["rut"]);
    var t = Convert.ToInt32(Session["tipo"]);

    if (r == null || r == "" || t == null || t != 1)
    {

        Response.Redirect("~/Home/Error");

    }



}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Usuarios</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Estilos/Estilo_tab.css">
    <style>

        label.error {
            color: red;
        }
    </style>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="~/Scripts/jquery-3.6.3.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Usuarios</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Admin/Lclientes">Volver al listado de usuarios </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/Admin/Index_admin">Volver al inicio</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/Admin/Csesion">Cerrar sesion</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <!--Tabs-->
    <br />

    <table align="center" class="border">

        <tr>
            <td colspan="4" align="center"><center><h6>Detalle del usuario</h6></center></td>
        </tr>
        <tr>
            <td><label for="formGroupExampleInput">Cliente ID : </label></td>
            <td><label for="formGroupExampleInput">@Model.cliente_id</label></td>




        </tr>
        <tr>
            <td><label for="formGroupExampleInput">Contraseña : </label></td>
            <td><label for="formGroupExampleInput">@Model.contraseña </label></td>
            



        </tr>
        <tr>
            <td><label for="formGroupExampleInput">Tipo de usuario  : </label></td>

            <td>
                @{
                    var idusuarios = Convert.ToInt32(Model.tipo_id);


                    switch (idusuarios)
                    {

                        case 1:
                            <label for="formGroupExampleInput">Admin</label>
                            break;
                        case 2:
                            <label for="formGroupExampleInput">Cajero </label>
                            break;
                        case 3:
                            <label for="formGroupExampleInput">Cliente </label>
                            break;
                        default:
                            <label for="formGroupExampleInput">Error </label>
                            break;



                    }




                }






            </td>

        </tr>







    </table>













    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
